@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Nunito Sans', sans-serif;
}

header {
  margin: 1rem 0;
}

form {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin-right: 1rem;
  padding: 8px 24px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 2px solid transparent;
  background-color: #f0efef;
  font-size: 16px;
}

input:hover {
  border: 2px solid #000;
}

button {
  margin-top: 1rem;
  padding: 8px 24px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 2px solid transparent;
  font-size: 16px;
  background-color: #f0efef;
  cursor: pointer;
}

button:hover {
  border: 2px solid #000;
}

button:active {
  background-color: #ebeaea;
}

main {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

h2 {
  font-size: 28px;
}

p {
  margin-top: 2rem;
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  margin-top: 2rem;
  text-align: center;
}

h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 24px;
}

@media (width<=520px) {
  main {
    flex-direction: column;
  }

  h1 {
    text-align: center;
    font-size: 26px;
  }

  form {
    flex-direction: column;
  }
}
